# Node.js dependencies
node_modules/

# Environment variables (sensitive information)
.env

# Vercel configuration files (optional)
.vercel/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output folders
dist/
build/
public/scripts/

# OS-specific files
.DS_Store  # macOS-specific
Thumbs.db  # Windows-specific

# IDE-specific files (e.g., VSCode, JetBrains)
.vscode/
.idea/

# Temporary files
*.swp      # Vim swap files
*.bak      # Backup files
*.tmp      # Temporary files
.vercel
